<h1 class="title">
  <video class="video" autoplay autobuffer autoloop loop muted>
    <source src="images/marvel-intro.webm" type="video/webm">
    <source src="images/marvel-intro.mp4" type="video/mp4")>
  </video>
  <div class="overlay">
    <a href="#">
      <span class="marvel">{{title}}</span>&nbsp;Encyclopedia
      <p class="subtitle">With great power comes great responsability</p>
    </a>
  </div>
</h1>


