@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: light;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Oxygen';
  src: url('../fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
