extends _layouts/base

block content
  //- h1.title Welcome to the&nbsp;
  main(data-region="app-holder")


    //- p.
    //-   Take a look at the
    //-   #[+link({href:'https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---', text: 'documentation'})]
    //-   and start mixing up something awesome.
  include _modules/marvel/marvel


